version: '3'
services:
  db:
    image: mariadb
    environment: 
      - MYSQL_ROOT_PASSWORD=password
    networks:
      - app
      - jobs
  web:
    build: .
    command: ./scripts/dev-start
    ports:
      - "3001:3001"
    env_file:
      - ./.env
    depends_on:
      - db
      - docuclassdb
    networks:
     - app
     - jobs
     - docuclass
    volumes:
    - .:/app
  jobs_runner:
    build: .
    command: bash -c "RAILS_ENV=${RAILS_ENV:-development} bin/delayed_job run"
    env_file:
      - ./.env
    depends_on:
      - db
    networks: 
      - app
      - jobs
    volumes:
    - .:/app
  twilio_studio:
    image: node:8.10
    command: bash -c "while true; do sleep 10; done"
    ports:
      - "3000:3000"
    volumes:
    - ./twilio-studio:/app
    working_dir: /app
    networks: 
      - twilio
  docuclassdb:
    image: mcr.microsoft.com/mssql/server
    env_file:
      - ./.env
    networks:
      - docuclass
networks:
  app:
  jobs:
  twilio:
  docuclass:
