development: &default
  adapter: mysql2
  database: backbone_data_bootstrap_development
  min_messages: WARNING
  pool: 5
  url: <%= ENV['DATABASE_URL'] %>

test:
  <<: *default
  database: backbone_data_bootstrap_test